<h1 class="text-center">Books</h1>
<%= form_with url: books_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by Title', autocomplete: 'off' %>
    </div>
    <div class="col-md-6">
      <%= text_field_tag :price, params[:price], class: 'form-control', placeholder: 'Search by Price', autocomplete: 'off' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :tag, params[:tag], class: 'form-control', placeholder: 'Search by Tag', autocomplete: 'off' %>
    </div>
  </div>
  <%= f.submit "Search", class: 'btn btn-primary search-btn' %>
<% end %>
<table class="table">
  <%= link_to "New Book", new_book_path, class: 'btn btn-primary new-book' %>
</table>
<%= form_tag(add_tags_books_path, method: :post) do |f| %>
  <div class="form-group">
    <label>Book Tags</label>
    <%= select_tag :tag_ids, options_for_select(@tags.collect { |tag| [tag.name, tag.id] }), class: "book_tags", multiple: true %>
  </div>
  <% @books.each do |book| %>
    <div class="book-checkbox">
      <div class="book"><%= link_to book.title, book_path(book) %></div>
      <div class="tick">
          <%= check_box_tag 'book_ids[]', book.id, false %>
          <span class="checkmark"></span>
      </div>
    </div>
  <% end %>
  <%= submit_tag("Submit Tag") %>
<% end %>